body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(90,60,155,1) 53%, rgba(20,19,105,1) 79%);
}

.App {
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
} 

.box {
  
  padding: 100px 50px;
  border-radius: 50px; 
  box-shadow: 2px 2px 100px rgb(146, 1, 146 ,0.3);
}
